<div class="r1 box-shadow">
  <h2 class="logo box-shadow">GodRolls.GG</h2>
  <br>
  <div class="navContainer">
    <button type="button" class="navBtn btn btn-light" [routerLink]="['']">Home</button>
    <button type="button" class="navBtn btn btn-light" [routerLink]="['about']">About</button>
    <button type="button" class="navBtn btn btn-light" [routerLink]="['users']">Users</button>

  </div>
</div>
<ul class="nav justify-content-end nav-action-container">
  <li class="nav-item">
    <button mat-raised-button color="primary" (click)="createRoll()">Add New Roll</button>
  </li>
</ul>

<div class="contact-grid">
  <div class="gallery-grid">
    <mat-card class="example-card" *ngFor="let user of users; let i = index">
      <mat-card-content>
        <img class="cover" [src]="user.image_url" alt="user">
        <p>
          <label for="id">Image Url:</label>
          <input [(ngModel)]="user.image_url" type="text" class="form-control" placeholder="Image" aria-label="Image">
        </p>
        <p>
          <label for="id">ID:</label>
          <input [(ngModel)]="user.id" disabled type="text" class="form-control" placeholder="ID" aria-label="ID">
        </p>
        <p>
          <label for="email">Email</label>
          <input [(ngModel)]="user.email" type="text" class="form-control" placeholder="Email" aria-label="Email"
            aria-describedby="basic-addon1">
        </p>
        <p>
          <label for="username">Username</label>
          <input [(ngModel)]="user.username" type="text" class="form-control" placeholder="Username" aria-label="Username"
            aria-describedby="basic-addon1">
        </p>
      </mat-card-content>
      <mat-card-actions>
        <div class="btn-group pull-right">
          <button mat-raised-button color="primary" class="pull-right" (click)="updateUser(car)">Save</button>
          <button mat-raised-button color="warn" (click)="removeUser(car, i)">Delete</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
