<div id="about-container">
  <div id="about-container-inner">
    <!-- <i class="fas fa-camera"></i>
      <i class="far fa-address-card"></i> -->
    <div class="about-content">
      <div class="banner">
        <h2 class="drop-shadow">About Us</h2>
        <div class="abtTextContainer">
          <p class="size drop-shadow">This website was created by Brandon Peterson. It can be used to create a list of curated weapon rolls that you want to obtain.</p>
        </div>
        <button type="button" class="abtBtn btn btn-light" [routerLink]="['']">Home</button>
      </div>
    </div>
  </div>
</div>